body{
    background-image:;
}
.col-md-5{
    margin-top: 150px !important;
    background-color: white;
    padding:20px;

}
input{
    margin-top: 20px !important;
}
button{
    margin-top:20px !important;
    float:left;
}

.success{
    border:3px solid green !important;
}
.error{
    border:3px solid red !important;
}
small{
    color:red;
    font-weight: bolder;
    margin: 5px;
    text-align:left !important;
}

.background{
    background-color: #a2ac0b;
}
#footer{
    background-color: brown;
    color:white;
    text-align: center;
    padding: 10px;
    font-weight: bolder;

}